
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header .logoepsi {
    width: 85px;
    height: 80px;
    margin-right: auto;
}

header .green {
    color: #8FBE54;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.title {
    background-color: #00bfff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}


form {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}


form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
}


form input[type="submit"] {
    background-color: #E4803E;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #d26c22;
}


a {
    color: #00bfff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
