footer { 
    background-color: #0056A4; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: relative;
    bottom: 0; 
    margin-top: auto;
    width: 100%; }

header {
    background-color: #935B9E;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px; 
    position: relative; }

.green {
    color: #8FBE54;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.logoepsi { 
    margin-right: auto; }

.center {
    text-align: center; }

.right {
    text-align: right; }    
    
.title { 
    background-color: #00bfff; 
    color: white; 
    padding: 20px; 
    border-radius: 5px; 
    margin-bottom: 25px; 
    font-size: 25px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-weight: bold; }
    
.pagemenu { 
    position: absolute; 
    top: 0; 
    right: 0; 
    color: #00bfff; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold;
    align-items: center;
    margin: 10px }
